.loader-container {
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 100%;
  z-index: 9999;

  .loader {    width: 60%;
    height: 60%;
    border: 5px solid transparent;
    border-top: 5px solid white;
    animation: rotate 1s linear infinite;
    border-radius: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
  }
}
